.chat-interface {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: var(--text-light);
  height: 100vh;

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 !important;
  }

  .chat-history-btn {
    width: 90px;
    height: 30px;
    float: right;
    align-self: flex-end;
    margin-right: 10px;
    margin-top: 10px;
  }

  .chat-welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
    max-width: 42rem;
    margin-left: auto;
    margin-right: auto;

    .welcome-header {
      text-align: center;
      max-width: 600px;

      .welcome-logo {
        margin-bottom: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0px;
      }

      h1 {
        font-size: 35px;
        font-weight: 400;
        color: var(--primary);
        margin: 10px 0px 0px 0px;
      }

      p {
        font-size: 14px;
        font-weight: 400;
        margin: 0px;
        color: var(--menu-hover-bg);
      }
    }
  }

  .chat-messages {
    flex: 1;
    // overflow-y: auto;
    display: flex;
    flex-direction: column;
    // gap: 16px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 0;
    max-width: 42rem;
    margin-left: auto;
    margin-right: auto;
    height: 100%;

    .no-messages-yet {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 60vh;
      font-size: 16px;
      color: var(--primary);
      font-style: italic;
    }

    .message {
      animation: slideIn 0.3s ease;

      &.message-user {
        .message-content {
          background-color: var(--primary);
          color: #000;
          border-radius: 12px;
          padding: 12px 16px;
          max-width: 70%;
          word-wrap: break-word;

          .markdown-table-wrapper {
            max-width: 100%;
            margin: 1rem 0 0.5rem;

            .table-scroll {
              --scrollbar-thumb-color: rgba(var(--primary-rgb), 0.2);
              overflow-x: auto;
              -webkit-overflow-scrolling: touch;
              max-width: 100%;
              padding-bottom: 0.5rem;
            }

            .download-btn-wrap {
              display: flex;
              justify-content: end;
              margin-bottom: 8px;
              gap: 5px;

              .download-table-btn {
                cursor: pointer;
                font-family: var(--primary-font);
                font-size: calc(var(--overall-paragraph-size));
                font-weight: 500;
                padding: 3px 6px;
                border: solid 1px var(--primary) !important;
                background-color: var(--primary);
                color: var(--white);
                border-radius: 4px;
                height: 24px !important;
                box-shadow: none !important;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                gap: 5px;
                transition: var(--default-transition);

                i {
                  color: inherit;
                  line-height: normal;
                }

                .ci {
                  width: 1.05em;
                  height: 1.05em;
                }

                &:not(:disabled):active,
                &:not(:disabled):hover {
                  border-color: var(--primary);
                  background-color: inherit;
                  color: var(--primary);
                }
              }
            }

            table {
              min-width: 600px;
              width: 100%;
              // border-collapse: collapse;
              background-color: var(--chat-bg);
              border: 1px solid var(--history-hover-border);
              border-radius: var(--border-radius);
              border-spacing: 0;
            }

            th,
            td {
              padding: 12px;
              text-align: left;
              word-break: auto-phrase;
              border-bottom: 1px solid var(--card-border-color);
              border-right: 1px solid var(--card-border-color);

              &:last-child {
                border-right: none;
              }
            }

            th {
              background-color: rgba(var(--primary-rgb), 0.25);
              font-weight: 600;
              border-color: var(--history-hover-border);
              white-space: nowrap;

              &:first-child {
                border-top-left-radius: var(--border-radius);
              }

              &:last-child {
                border-top-right-radius: var(--border-radius);
              }
            }

            td {
              min-width: 150px;
            }

            tr:last-child td {
              border-bottom: none;
            }
          }
        }
      }

      &.message-bot {
        justify-content: flex-start;

        .loading-text {
          margin-top: 10px;
          font-size: 16px;
          font-weight: 600;
          display: inline-block;
          background: linear-gradient(120deg, #555 25%, #eee 50%, #555 75%);
          background-size: 300% 100%;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          animation: weave 5s linear infinite;
        }

        .markdown-table-wrapper {
          max-width: 100%;
          margin: 1rem 0 0.5rem;

          .table-scroll {
            --scrollbar-thumb-color: rgba(var(--primary), 0.2);
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            max-width: 100%;
            padding-bottom: 0.5rem;
          }

          table {
            min-width: 600px;
            width: 100%;
            border: 1px solid var(--input-border);
            border-radius: var(--border-radius);
            border-spacing: 0;
          }

          th,
          td {
            padding: 12px;
            text-align: left;
            word-break: auto-phrase;
            border-bottom: 1px solid var(--input-border);
            border-right: 1px solid var(--input-border);

            &:last-child {
              border-right: none;
            }
          }

          th {
            background-color: #eff4ef;
            font-weight: 600;
            border-color: var(--input-border);
            white-space: nowrap;

            &:first-child {
              border-top-left-radius: var(--border-radius);
            }

            &:last-child {
              border-top-right-radius: var(--border-radius);
            }
          }

          td {
            min-width: 150px;
          }

          tr:last-child td {
            border-bottom: none;
          }
        }

        @keyframes weave {
          0% {
            background-position: 300% 0;
          }

          100% {
            background-position: -300% 0;
          }
        }

        .mark-down {
          font-size: calc(100% - 1px);
          // opacity: 0.7;
          color: var(--font-color-light);

          * {
            color: inherit;
          }

          &>*:last-child,
          p:last-child {
            margin-bottom: 0;
          }

          a {
            text-decoration: underline;
          }
        }

        .message-content {
          border-radius: 12px;
          padding: 0px 16px;
          max-width: 100%;
          word-wrap: break-word;

          .citation-btn {
            height: 20px;
            border-radius: 4px;
            padding: 7px;
            border-color: #d3dfd4;
            background: #eff4f0;
            color: #012c12;
            margin: 0px 2px;
          }
        }
      }
    }
  }
}

.action-btns {
  display: flex;
  gap: 4px;
  align-items: center;
  margin: 12px 0px;
  padding-left: 16px;

  .action-btn {
    border-radius: 3px;

    &:hover {
      background: #eff4ef;
    }
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 767px) {
  .chat-interface {
    padding: 20px 16px;

    .chat-input-container .chat-input-box {
      max-width: 100%;
    }
  }
}

.chat-stepper-wrapper {
  flex: 1;
  width: 100%;
  margin: 0 auto;
  overflow-y: auto;
}

/* Question bubble */
.chat-question {
  .avatar {
    width: 28px;
    height: 28px;
    background: #017b1a;
    color: #ffffff;
    font-size: 14px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    flex: none;
  }

  .bubble {
    display: flex;
    align-items: start;
    background: #eff4ef;
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    color: #4c4c4c;
    width: fit-content;
    padding-right: 20px;

    .user-question {
      padding-top: 3px;
      line-height: 20px;
    }
  }
}

/* Steps Container */
.chat-steps {
  background: #fff;
  border-radius: 8px;
  border: 1px solid #d3dfd4;
  width: 100%;

  .step-header {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 500;
    cursor: pointer;
    color: #7f7f7f;
    font-size: 14px;
    padding: 12px 18px;
    position: relative;

    &:before {
      content: "";
      width: 1px;
      height: 100%;
      top: 0px;
      bottom: 0px;
      left: 24px;
      display: block;
      background: #d3dfd4;
      position: absolute;
    }

    span {
      background: #fff;
      padding: 3px 0;
      z-index: 9;
    }
  }

  .steps-list {
    margin-left: 5px;
  }
}

.ant-collapse {
  .ant-collapse-item {
    border-radius: 8px 8px 0 0 !important;
    padding-left: 24px;
    position: relative;

    &:before {
      content: "";
      width: 1px;
      height: 100%;
      top: 0px;
      bottom: 0px;
      display: block;
      background: #d3dfd4;
      position: absolute;
    }

    &:last-child {
      &.ant-collapse-item {
        &:before {
          height: 22px;
        }
      }
    }

    .ant-collapse-header {
      color: var(--primary);
      font-weight: 500;
      font-size: 14px;
      padding: 8px 16px;
      position: relative;

      .ant-collapse-arrow {
        width: 10px;
      }

      &:before {
        content: "";
        width: 7px;
        height: 7px;
        border-radius: 50%;
        top: 0px;
        left: -3px;
        top: 50%;
        transform: translateY(-50%);
        background: #d3dfd4;
        box-shadow: 0px 0px 0px 3px #ffffff;
        position: absolute;
      }
    }

    &.deep-search {
      .ant-collapse-header:before {
        content: url(/assets/icons/deep-research.svg);
        width: auto;
        background: transparent;
        height: 17px;
        left: -8px;
      }
    }

    .ant-collapse-content {
      color: #4c4c4c;
      margin-right: 18px;
      padding-bottom: 10px;

      p {
        margin: 6px 0;
      }

      strong {
        margin-top: 12px;
        display: block;
        color: var(--primary);
      }
    }

    .ant-collapse-content-box {
      max-height: 200px;
      overflow-y: auto;
      padding-top: 0px !important;
    }

    &.ant-collapse-item-active {
      background: #eff4ef;
    }
  }
}

.message-fade {
  opacity: 0;
  transform: translateY(6px);
  transition: opacity 0.45s ease, transform 0.45s ease;
}

.message-fade.show {
  opacity: 1;
  transform: translateY(0);
}

.chat-bottom-spacer {
  min-height: calc(100% - 50px);
}


.page-header-innerpage {
  height: 50px;
}