:root {
  --primary: #012C12;
  --secondary: #00FFBE;
  --arrow-color: #084f30;
  --text-light: #ffffff;
  --text-dark: #000000;
  --primary-btn-bg: #00ffbe;
  --primary-btn-hover-bg: #00e5aa;
  --border-color: #D3DFD4;
  --white-smoke: #f5f5f5;
  --grey: #c4c4c4;
  --primary-green: #019A20;
  --border-radius: 3px;
  --bg-grey: rgba(211, 223, 212, 0.2);
  --modal-bg: #f4f8f4;
  --modal-border: #d3dfd48c;
  --input-border: #D3DFD4;
  --text-dark-green: #0a2b14;
  --text-muted-green: #657a6b;
  --home-bg: #f8faf9;
  --table-border: #d3dfd499;
  --overall-paragraph-size: 12px;
  --table-hover-bg: #f6f9f6;
  --scrollbar-track-color: #f8faf9;
  --scrollbar-thumb-color: #d3dfd48c;
  --scrollbar-width: 5px;

  --info-color: #007a8e;
  --danger-color: #c10007;
  --warning-color: #f8a815;
  --success-color: #019a20;
  --orange: #FD582D;

  --refresh-btn-bg: #c4d0d370;

  // solid colors
  --white: #ffffff;
  --black: #000000;

  // border radius
  --border-radius-5: 5px;

  // fonts
  --primary-font: "Figtree", sans-serif, Arial;
  --overall-paragraph-size: 14px;
  --overall-heading-size: 18px;
}