@font-face {
    font-family: 'Figtree';
    src: url('Figtree-Black.woff2') format('woff2'),
        url('Figtree-Black.woff') format('woff'),
        url('Figtree-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('Figtree-BlackItalic.woff2') format('woff2'),
        url('Figtree-BlackItalic.woff') format('woff'),
        url('Figtree-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('Figtree-ExtraBoldItalic.woff2') format('woff2'),
        url('Figtree-ExtraBoldItalic.woff') format('woff'),
        url('Figtree-ExtraBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('Figtree-ExtraBold.woff2') format('woff2'),
        url('Figtree-ExtraBold.woff') format('woff'),
        url('Figtree-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('Figtree-Medium.woff2') format('woff2'),
        url('Figtree-Medium.woff') format('woff'),
        url('Figtree-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('Figtree-MediumItalic.woff2') format('woff2'),
        url('Figtree-MediumItalic.woff') format('woff'),
        url('Figtree-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('Figtree-BoldItalic.woff2') format('woff2'),
        url('Figtree-BoldItalic.woff') format('woff'),
        url('Figtree-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('Figtree-LightItalic.woff2') format('woff2'),
        url('Figtree-LightItalic.woff') format('woff'),
        url('Figtree-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('Figtree-Light.woff2') format('woff2'),
        url('Figtree-Light.woff') format('woff'),
        url('Figtree-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('Figtree-Italic.woff2') format('woff2'),
        url('Figtree-Italic.woff') format('woff'),
        url('Figtree-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('Figtree-Bold.woff2') format('woff2'),
        url('Figtree-Bold.woff') format('woff'),
        url('Figtree-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('Figtree-Regular.woff2') format('woff2'),
        url('Figtree-Regular.woff') format('woff'),
        url('Figtree-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('Figtree-SemiBoldItalic.woff2') format('woff2'),
        url('Figtree-SemiBoldItalic.woff') format('woff'),
        url('Figtree-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('Figtree-SemiBold.woff2') format('woff2'),
        url('Figtree-SemiBold.woff') format('woff'),
        url('Figtree-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

